<%= form_for([@cocktail,@comment]) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field">
    <%= f.label :texto %><br />
    <%= f.text_field :texto %>
  </div>
  <div class="field">
    <%= f.label :cocktail %><br />
    <%= @cocktail.name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
